.about-main {
    position: relative;
    background-color: #2c2a32;
    color: #ededed;
    max-width: 100%;
    height: auto;
    transition: 0.3s all ease-in-out;
    z-index: 1;
}

.about-main-light {
    @extend .about-main;
    background-color: #ededed;
    color: #5c5c5c;
}

.about-intro {
    margin-inline: 4rem;
    width: 80%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about-title {
    color: goldenrod;
    font-weight: 400;
    font-size: 4rem;
    .about-title-name {
        font-weight: 800;
    }
}

.about-subtitle {
    color: #ededed;
    font-size: 2rem;
    font-weight: 500;
}

.about-subtitle-dark {
    @extend .about-subtitle;
    color: #5c5c5c;
}

.about-text {
    width: 100%;
    font-size: 1.5rem;
    color: #ededed;
    padding-block: 1rem;
}

.about-text-dark {
    @extend .about-text;
    color: #5c5c5c;
}
