@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,700&display=swap");
$primaryDarkColor: #262528;
$secondaryDarkColor: #ededed;
$tertiaryDarkColor: #454545;

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;

    scrollbar-color: $tertiaryDarkColor $primaryDarkColor;
}

::-webkit-scrollbar {
    width: 10px;
    background: $primaryDarkColor;
    -webkit-boder-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: $tertiaryDarkColor;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.progress-bar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: goldenrod;
    transform-origin: 0%;
}
