.not-found-main {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ededed;
    color: #262528;
}
.not-found-main-dark {
    background-color: #262528;
    color: #ededed;
    @extend .not-found-main;
}
